<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white pt-2 habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray;">
            <i class="bi bi-filetype-html"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puestas en prodcucción con entregas continuas.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Web APIs</li>
                <li>Web APIs</li>
                <li>Web APIs</li>
            </ul>

        </div>
        <div class="col col-3 bg-white pt-2 habilidades" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray;">
            <i class="bi bi-file-earmark-code"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends que se adapten completamente a las preferencias del usuario y al proyecto.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Web APIs</li>
                <li>Web APIs</li>
                <li>Web APIs</li>
            </ul>
        </div>
    </div>
</div>