@{
    ViewData["Title"] = "GRACIAS";
}

<h1>Gracias por ponerte en ocntacto conmigo</h1>
<p>Te contestare el mensaje lo mas pronto posible</p>
<div><a asp-action="Index" asp-controller="Home">Volver a la pantalla PRINCIPAL</a></div>
